<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="com.face.nd.dao.EquipmentDao">
    <!--查询所有一体机设备-->
    <select id="getAllEquipment" resultType="com.face.nd.entity.EquipmentEntity" flushCache="true">
        select * from EquipmentTable;
    </select>
</mapper>